@model QuickQuestions.Areas.Admin.Models.QuestionEditModel

@{
    ViewData["Title"] = "Create Question";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="SurveyID" class="control-label"></label>
                <select asp-for="SurveyID" class="form-control" asp-items="ViewBag.SurveyID"></select>
                <span asp-validation-for="SurveyID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Index" class="control-label"></label>
                <input asp-for="Index" class="form-control" />
                <span asp-validation-for="Index" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="mb-1">
                    @Html.DisplayNameFor(model => model.Answers)
                </div>

                <partial name="_Answers" model="Model" />

                <div class="btn-group">
                    <input class="add-answer btn btn-success" type="button" value="Add Answer">
                    <input class="debug-answer btn btn-warning" type="button" value="Request Server Update">
                </div>
            </div>

            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/sortablejs/Sortable.js"></script>
    <script src="~/lib/jquery-sortablejs/jquery-sortable.js"></script>
    <script src="~/js/question-edit-functionality.js" asp-append-version="true"></script>
}
