@model QuickQuestions.Areas.Admin.Models.QuestionEditModel

@*  *@

<div class="question row border my-3 pe-0">
    <input asp-for="ID" type="hidden" />
    <input asp-for="SurveyID" type="hidden" />
    <input asp-for="Index" class="index-edit" type="hidden" />

    <div class="col-auto question-handle">
        <label class="">-</label>
    </div>

    <div class="col edit-body">
        <div class="text-edit my-3">
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control text-edit-input" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div class="answers mb-3">
            <div class="mb-1">
                @Html.DisplayNameFor(model => model.Answers)
            </div>

            <div class="answers-container container mb-3">
                @Html.EditorFor(model => model.Answers)
            </div>

            <div>
                <input class="add-answer btn btn-success" type="button" value="Add Answer">
            </div>
        </div>
    </div>

    <div class="col-auto me-0 px-0">
        <button class="remove-element btn btn-danger" type="button">X</button>
    </div>
</div>