@model QuickQuestions.Models.Question

@*  *@

<div class="question mb-3">
    <div class="row border question-handle">
        <label class="align-self-center">-</label>
    </div>

    <input asp-for="ID" type="hidden" />
    <input asp-for="SurveyID" type="hidden" />
    <input asp-for="Index" class="index-edit" type="hidden" />

    <div class="text-edit my-3">
        <input asp-for="Text" class="form-control text-edit-input" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <div class="answers mb-3">
        <div class="mb-1">
            @Html.DisplayNameFor(model => model.Answers)
        </div>

        <div class="answers-container mb-3">
            @Html.EditorFor(model => model.Answers)
        </div>

        <div class="">
            <input class="add-answer btn btn-success" type="button" value="Add Answer">
        </div>
    </div>

    <div class="mb-3">
        <button class="remove-element btn btn-danger" type="button">Remove Question</button>
    </div>
</div>