@model QuickQuestions.Areas.Admin.Models.SurveyEditModel

@*  *@

<div class="survey">
    <input asp-for="ID" type="hidden" />

    <div class="mb-3">
        <label class="control-label">Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="text-edit text-edit-survey mb-3">
        <label class="form-label">Текст</label>
        <input asp-for="Text" class="form-control text-edit-input" type="hidden" />
        <div class="text-edit-field"></div>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Дата начала</label>
            <input type="datetime-local" asp-for="DateStart" class="form-control" />
            <span asp-validation-for="DateStart" class="text-danger"></span>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Дата окончания</label>
            <input type="datetime-local" asp-for="DateEnd" class="form-control" />
            <span asp-validation-for="DateEnd" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <div class="mb-1">
            Вопросы
        </div>

        <div class="questions-container container">
            @Html.EditorFor(model => model.Questions)
        </div>

        <div class="btn-group">
            <input class="add-question btn btn-primary" type="button" value="Добавить вопрос">
            <input class="debug-reload btn btn-primary" type="button" value="Обновить">
        </div>
    </div>
</div>