@{
    ViewData["Title"] = "Панель управления";
}

<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Панель управления</h1>
            <p class="lead">Инструменты для управления системами сайта.</p>
            <hr class="my-4">
            <p class="lead">Управление пользователями:</p>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-controller="Users" asp-action="">Пользователи</a>
                <a class="list-group-item list-group-item-action" asp-controller="Branches" asp-action="">Отделы</a>
            </div>
            <hr class="my-4">
            <p class="lead">Управление опрсами:</p>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-controller="Surveys" asp-action="">Опросы</a>
                <a class="list-group-item list-group-item-action" asp-controller="Questions" asp-action="">Шаблоны вопросов</a>
                <a class="list-group-item list-group-item-action" asp-controller="Files" asp-action="">Управление файлами</a>
            </div>
        </div>
    </div>
</div>