@model QuickQuestions.Areas.Admin.Models.SurveyEditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="row justify-content-center">
    <div class="col-md-9">
        <h1>Редактировать опрос</h1>
        <hr />
        <form asp-action="Edit" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.EditorForModel()

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/sortablejs/Sortable.min.js"></script>
    <script src="~/lib/jquery-sortablejs/jquery-sortable.js"></script>
    <script src="~/lib/quill/quill.min.js"></script>
    <script src="~/js/survey-edit-functionality.js" asp-append-version="true"></script>
}
