/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: keep-all;

    /*
        font-family: Montserrat;
        font-size: 144px;
        line-height: 176px;
    */
    font-style: normal;
    font-weight: 900;
    font-size: 24.25px;

    padding: 0px;

    color: #FFFFFF;
}

.btn-primary,
.btn-primary:hover {
    color: #fff;
    background-color: #ff4346 !important;
    border-color: #ff4346 !important;
}

    .btn-primary:active,
    .btn-primary:focus {
        color: #fff;
        background-color: #ff4346 !important;
        border-color: #ff4346 !important;
        box-shadow: 0 0 0 0.2rem rgba(255,67,70, 0.5) !important;
    }

.form-check-input:focus {
    border-color: #ff4346;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,67,70, 0.5);
}

.form-check-input:checked {
    background-color: #ff4346;
    border-color: #ff4346;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Background */

body {
    background: url(../content/background.svg) no-repeat center center fixed;
    background-size: cover;
}

/* Rich Text Containers */

.rich-text > p,
.rich-text > h1,
.rich-text > h2,
.rich-text > h3,
.rich-text > h4,
.rich-text > h5,
.rich-text > h6 {
    margin: 0px;
    padding: 0px;
}